body {
	background-color: #EEE;
	font-family: arial;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

h1 {
	text-align: center;
	color: #a25c5c;
	align-self: center;
	width: 100%;
}

p {
	color: #373721;
	padding: 10px;
	margin: 20px auto;
	width: 600px;
}
div {
	position: relative;
	display: flex;
}
img {
	width: 600px;
	height: 300px;
	transition: 0.3;
	filter: blur(2px);
}

img:hover{
	filter: blur(0px);
}

.re {
	margin: 10px;
	color: #a25c5c;
	align-self: flex-start;
}

ul {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 613px;
	top: 16px;
	color: #1c4a7b;
}

li {
	padding: 10px;
	margin: 10px;
	width: 500px;
}
